<div class='container'>
  <%= form_for @additive, url: { action: "create" } do |f| %>
    <%= render 'shared/error_messages', object: f.object%>
    <%= f.label t('.header_label') %>
    <br></br>
    <%= f.text_field :name, placeholder: t('.name') %>
    <%= f.submit t('.load_optional'), class: "btn dtn-default", name: "auto" %>
    <br></br>
    <%= f.text_field :category, placeholder: t('.category') %>
    <br></br>
    <%= f.select :danger, options_for_select([['Разрешена', 0], ['Нет информации', 1],
                                                        ['Запрещена', 2]], 1), {},
                          {class: 'form-control', id: 'select'} %>
    <br></br>
    <%= f.text_area :about, placeholder: t('.about') %>
    <%= f.submit t('.save'), class: "btn btn-large btn-primary", name: "manual" %>
  <% end %>
</div>
