section.result
        article.e.e--normal
          div.e__element
            h2.e__title=result.name
          div.e__element
            span.e__label Название:&nbsp;
            span.e__name=result.name
          div.e__element
            span.e__label Категория:&nbsp;
            span.e__category=result.category
          div.e__element
            span.e__label Опасность:&nbsp;
            span.e__danger.e__danger--normal=result.danger
          div.e__element
            span.e__description=result.about