<!DOCTYPE html>
<html>
<head>
  <title>Health yeah! | Скажи да здоровью!</title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class='flex-container'>
    <%= render 'layouts/header' %>
    <%= render 'shared/main_form' %>
    <%= yield %>
    <%= render 'layouts/footer' %>    
  </div>
</body>
</html>
